<template>
    <div class="container py-4 px-3 mx-auto">
        <header class="d-flex justify-content-between align-items-md-center pb-3 mb-5 border-bottom">
            <h1 class="h4">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <span>Simple Voting App</span>
                </a>
            </h1>
            <a href="https://github.com/twbs/examples/tree/main/vite/" target="_blank" rel="noopener">View on GitHub</a>
        </header>


        <RouterView />
    </div>
</template>

<script setup lang="ts">
</script>
