<template>
    <survey-component
        v-if="survey"
        :survey="survey"
    />
    <loading-component
        v-if="isLoading"
    />
</template>

<script setup>
import {
    onMounted,
    ref,
} from 'vue';

const survey = ref(null);
const isLoading = ref(false);

import SurveyComponent from './Survey.vue'
import LoadingComponent from './Loading.vue'

onMounted(async () => {
    isLoading.value = true
    // await fetch('/sanctum/csrf-cookie', {
    //     credentials: 'include',
    // })
    await axios.get('/sanctum/csrf-cookie')
    const resp = await axios.get('/api/survey')
    survey.value = resp.data
    isLoading.value = false
})
</script>
