<template>
    <div
        v-if="props.survey"
        class="card"
    >
        <div class="card-header">{{ props.survey.title }}</div>

        <div class="card-body">
            <div
                v-if="hasVoted"
                class="alert alert-success"
            >
                Thank you for voting!
            </div>

            <ul class="list-unstyled mb-0">
                <li v-for="option in props.survey.options">
                    <label>
                        <input
                            type="radio"
                            name="option"
                            :value="option.id"
                            v-model="selectedOption"
                            :disabled="hasVoted"
                        />
                        {{ option.title }}
                    </label>
                </li>
            </ul>
        </div>

        <div class="card-footer">
            <button
                class="btn btn-primary"
                :disabled="cannotVote"
                @click="submitVote"
            >
                <span v-if="isLoading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                Vote
            </button>
        </div>
    </div>
</template>

<script setup>
import {
    computed,
    defineProps,
    onMounted,
    ref,
} from 'vue';

const selectedOption = ref(null)
const isLoading = ref(false)
const hasVoted = ref(false) // @TODO - fetch from the server and populate

const cannotVote = computed(() => {
    return isLoading.value
        || !selectedOption.value
        || hasVoted.value;
})

const props = defineProps({
    survey: Object,
});

const submitVote = async () => {
    isLoading.value = true
    try {
        const resp = await axios.post('/api/survey/' + props.survey.id + '/vote', {
            option: selectedOption.value,
        })
        // @TODO - check for 202 response
        hasVoted.value = true
    }
    catch (e) {
        console.log(e)
    } finally {
        isLoading.value = false
    }
}
</script>
